
<div class="card">
    <div class="card-header">
        لیست شرکت های پرداخت
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>یوزر شاپرک</th>
                    <th>یوزر پورتال شرکت پرداخت</th>
                    <th>نام</th>
                    <th>Alias</th>
                    <th>یوزر ftp شاپرک</th>
                    <th>IIN</th>
                    <th>شماره ترمینال</th>
                    <th>شماره پذیرنده</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <!-- <span class="w-100 d-flex justify-content-center"> 
                <ngb-pagination (pageChange)="clickOnPage($event)" [pageSize]="10" [boundaryLinks]="true" [collectionSize]="totalRecords" [maxSize]="5" [(page)]="page">
                    <ng-template ngbPaginationPrevious>قبلی</ng-template>
                    <ng-template ngbPaginationNext>بعدی</ng-template>
                    <ng-template ngbPaginationFirst>ابتدا</ng-template>
                    <ng-template ngbPaginationLast>انتها</ng-template>
                </ngb-pagination>
            </span> -->

    </div>
</div>