<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        اطلاعات مشتری
    </h4>
</div>
<div class="modal-body text-justify line-height-3">
    <div class="row m-2">
        
        <div class="col-md-2 p-2 my-2">
            نام :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.person.firstNameFa}}
        </div>
        <div class="col-md-2 p-2 my-2">
            نام خانوادگی :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.person.lastNameFa}}
        </div>
        <div class="col-md-2 p-2 my-2">
            نوع مشتری :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.person.isLegal ? "حقوقی" : "حقیقی"}}
        </div>
        <div class="col-md-2 p-2 my-2">
            اتباع :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.person.isForeign ? "بله" : "خیر"}}
        </div>
        <div class="col-md-2 p-2 my-2">
            ایمیل :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.email}}
        </div>
        <div class="col-md-2 p-2 my-2">
            صنف :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.guild}}
        </div>
        <div class="col-md-2 p-2 my-2">
            موبایل :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.mobileNumber}}
        </div>
        <div class="col-md-2 p-2 my-2">
            تلفن :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.telephone}}
        </div>
        <div class="col-md-2 p-2 my-2">
            نام فروشگاه :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.shopNameFa}}
        </div>
        <div class="col-md-2 p-2 my-2">
            ایمیل فروشگاه :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.shopEmail}}
        </div>
        <div class="col-md-2 p-2 my-2">
            تلفن فروشگاه :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.shopTelephoneNumber}} - {{customerInfo.shopCityPreCode}}
        </div>
        <div class="col-md-2 p-2 my-2">
            شماره فکس فروشگاه :
        </div>
        <div class="col-md-4 view-card p-2 my-2">
            {{customerInfo.shopFaxNumber}}
        </div>
        <div class="col-md-2 p-2 my-2">
             آدرس فروشگاه :
        </div>
        <div class="col-md-10 view-card p-2 my-2">
            {{customerInfo.shopAddress}}
        </div>
        <div *ngIf="customerInfo.merchants.length > 0" class="col-md-12 p-2 my-2">
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th> کد پذیرنده</th>
                            <th>
                                نوع وضعیت
                            </th>
                            <th>شماره ترمینال</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of customerInfo.merchants">
                            <td>{{item?.acceptorCode}}</td>
                            <td>{{item?.statusTitle}}</td>
                            <td>{{item?.terminalNo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="ngbActiveModal.dismiss()">
        بستن
    </button>
</div>