<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        افزودن کاربر
    </h4>
</div>
<div class="modal-body text-justify line-height-3">
    <form [formGroup]="createUserForm" autocomplete="off" role="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="firstName">نام</label>
                    <input id="firstName" type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.firstName.errors}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="lastName">نام خانوادگی</label>
                    <input id="lastName" type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.lastName.errors}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="email">یارانامه</label>
                    <input id="email" type="email" formControlName="email" class="form-control"
                        [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.email.errors}" />
                </div>
            </div>
            <div class="col-md-4">
                <label for="phoneNumber">تلفن همراه</label>
                <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control"
                    [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.phoneNumber.errors}" />
            </div>

            <div class="col-md-4">
                <label for="roleName">نقش</label>
                <select id="roleName" class="form-control" formControlName="roleName"
                    [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.roleName.errors}">
                    <option *ngFor="let item of Roleslist" [value]="item.id">{{item.name}}</option>

                </select>
            </div>
            <div class="col-md-4">
                <label for="username">نام کاربری</label>
                <input id="username" type="text" formControlName="username" class="form-control"
                    [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.username.errors}" />
            </div>
            <div class="col-md-4 my-2">
                <label for="password">کلمه عبور</label>
                <input id="password" type="password" formControlName="password" class="form-control"
                  [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.password.errors}" />
            </div>
            <div class="col-md-4 my-2">
                <label for="rePass">تکرار کلمه عبور</label>
                <input id="rePass" type="password" formControlName="rePass" class="form-control"
                  [ngClass]="{'is-invalid': isAddUserSubmitted && addUserFormInfo.rePass.errors}" />
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="ngbActiveModal.dismiss()">
        بستن
    </button>
    <button class="btn btn-primary" type="button" (click)="addUser(createUserForm.value)">افزودن</button>
</div>