

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
بازنشانی کلمه عبور

    </h4>
</div>
<div class="modal-body text-justify line-height-3">
    <form [formGroup]="changePasswordForm" autocomplete="off" role="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="username">نام کاربری</label>
                    <input id="username" type="text" formControlName="username" class="form-control"
                        [ngClass]="{'is-invalid': isChangePasswordSubmitted && changePasswordFormInfo.username.errors}"
                        [readonly]="true" />
                </div>
            </div>
            <div class="col-md-6 ">
                <label for="oldPassword">کلمه عبور پیشین</label>
                <input id="oldPassword" type="password" formControlName="oldPassword" class="form-control"
                  [ngClass]="{'is-invalid': isChangePasswordSubmitted && changePasswordFormInfo.oldPassword.errors}" />
            </div>
            <div class="col-md-6 ">
                <label for="newPassword">کلمه عبور جدید</label>
                <input id="newPassword" type="password" formControlName="newPassword" class="form-control"
                  [ngClass]="{'is-invalid': isChangePasswordSubmitted && changePasswordFormInfo.newPassword.errors}" />
            </div>
            <div class="col-md-6">
                <label for="confirmNewPassword">تکرار کلمه عبور</label>
                <input id="confirmNewPassword" type="password" formControlName="confirmNewPassword" class="form-control"
                  [ngClass]="{'is-invalid': isChangePasswordSubmitted && changePasswordFormInfo.confirmNewPassword.errors}" />
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="ngbActiveModal.dismiss()">
        بستن
    </button>
    <button class="btn btn-primary" type="button" (click)="changePassword(changePasswordForm.value)">افزودن</button>
</div>