<div class="wrapper fadeInDown m-t-100p">
    <div id="formContent">
        <h2 class="fadeIn first mt-3 text-dark">
            فرم ورود
        </h2>
        <form [formGroup]="loginForm" autocomplete="off" role="form">
            <input formControlName="username" type="text" id="login" class="fadeIn second dir-ltr"
             name="login" placeholder="نام کاربری"
             [ngClass]="{ 'error-validation': isLoginClicked && loginFromSubmitted.username.errors }">
             

            <input formControlName="password" type="password"
             id="password" class="fadeIn third dir-ltr" name="login" placeholder="رمزعبور"
             [ngClass]="{ 'error-validation': isLoginClicked && loginFromSubmitted.password.errors }"
             >
            <input class="fadeIn fourth" type="submit" value="ورود" (click)="signIn(loginForm.value)" >
        </form>

        <div class="d-flex justify-content-center">
            <div>
                <i class="fa fa-bank" style="font-size: 28px;"></i>
            </div>
            <div class="mx-2">
                <h3>
                    Sepand Pay!
                </h3>
            </div>
        </div>
        <h6 class="mt-2" style="line-height: 2;">
            ©1399 تمامی حقوق مادی و معنوی این سامانه برای شرکت سپندپی محفوظ می باشد
        </h6>

    </div>
</div>