<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        تغییر صنف
    </h4>
</div>
<div class="modal-body text-justify line-height-3">
    <form [formGroup]="editGuildForm" autocomplete="off" role="form">
        <div class="row">
            <div class="col-md-6">
                <label for="guildId">صنف</label>
                <select id="guildId" class="form-control" formControlName="guildId" [ngClass]="{
                    'is-invalid':
                    isGuildSubmitted &&
                      changeGuildFormInfo.guildId.errors
                  }">
                  <option *ngFor="let item of listOfGuild" [value]="item.id">
                    {{ item.categoryName }}
                  </option>
                </select>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="ngbActiveModal.dismiss()">
        بستن
    </button>
    <button class="btn btn-success" type="button" (click)="editGuild(editGuildForm.value)">ویرایش</button>
</div>