<div id="customerList">
    <app-filter (getFilterData)="receiveDataFromFilter($event)" (getFilters)="receiveFilters($event)"></app-filter>
    <div class="card border-dark  mb-3">
        <div class="card-header bg-secondary text-white">
            تغییر کد پستی 
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th>نام و نام خانوادگی </th>
                                    <th>
                                        نوع مشتری
                                    </th>
                                    <th>تلفن</th>
                                    <th>وب سایت</th>
                                    <th>کد پستی فروشگاه</th>
                                   
                                    <th>کد صنف</th>
                                    <th>
                                        نام فروشگاه
                                    </th>
                                    <th>
                                        نام کمپانی 
                                    </th>
                                    <th *ngIf="userRole === 'admin'">
                                        عملیات
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of customerslist">
                                    <td>
                                        {{item.person.isLegal ? item.person.comNameFa : item.person.firstNameFa + ' ' + item.person.lastNameFa }}
                                    </td>
                                    <td>
                                        {{item.person.isLegal ? "حقوقی" : "حقیقی" }}

                                    </td>
                                    <td>{{item?.shopCityPreCode}}-{{item?.telephone}}</td>
                                    <td>{{item?.webSiteAddress}}</td>
                                    <td>{{item?.shopPostalCode}}</td>
                               
                                    <td>{{item?.guildId}}</td>
                                    <td>
                                        {{item?.shopNameFa}}
                                    </td>
                                    <td>
                                        {{item?.person.comNameFa}}
                                    </td>
                                    <td *ngIf="userRole === 'admin'">
                                        <button class="btn btn-warning btn-sm"  (click)="openChangePostalCodeModal(item)">تغییر کد پستی</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="w-100 d-flex justify-content-center my-2">
                        <ngb-pagination (pageChange)="clickOnPage($event)" [pageSize]="10" [boundaryLinks]="true"
                            [collectionSize]="totalRecords" [maxSize]="5" [(page)]="page">
                            <ng-template ngbPaginationPrevious>قبلی</ng-template>
                            <ng-template ngbPaginationNext>بعدی</ng-template>
                            <ng-template ngbPaginationFirst>ابتدا</ng-template>
                            <ng-template ngbPaginationLast>انتها</ng-template>
                        </ngb-pagination>
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>