<div id="customerList">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="فیلتر جستجو">
            <ng-template ngbPanelContent>
                <form [formGroup]="customerFilter">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="NationalId">کد ملی</label>
                            <input (keypress)="numberOnly($event)" id="NationalId" type="text" formControlName="NationalId" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="ForeignPervasiveCode">کد اتباع</label>
                            <input (keypress)="numberOnly($event)" id="ForeignPervasiveCode" type="text" formControlName="ForeignPervasiveCode" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="CustomerId">کد مشتری</label>
                            <input (keypress)="numberOnly($event)" id="CustomerId" type="text" formControlName="CustomerId" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="RegisterNo">شماره ثبت</label>
                            <input (keypress)="numberOnly($event)" id="RegisterNo" type="text" formControlName="RegisterNo" class="form-control" />
                        </div>
                        <div class="col-md-3 my-2">
                            <label for="Name">نام </label>
                            <input (keypress)="FarsiOnly($event)" id="Name" type="text" formControlName="Name" class="form-control" />
                        </div>
                        <div class="col-md-3 my-2">
                            <label for="LastName">نام خانوادگی</label>
                            <input (keypress)="FarsiOnly($event)" id="LastName" type="text" formControlName="LastName" class="form-control" />
                        </div>
                        <div class="col-md-3 my-2">
                            <label for="ShopName">نام فروشگاه</label>
                            <input id="ShopName" type="text" formControlName="ShopName" class="form-control" />
                        </div>
                        <div class="col-md-12 mt-2">
                            <button class="btn btn-primary" type="submit"
                                (click)="serachCustomer(customerFilter.value)">جستجو</button>
                        </div>
                    </div>

                </form>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <div class="card border-dark mb-3">
        <div class="card-header bg-secondary text-white">
            لیست مشتریان
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th>نام و نام خانوادگی </th>
                                    <th>
                                        نوع مشتری
                                    </th>
                                    <th>تلفن</th>
                                    <th>وب سایت</th>
                                    <th>کد پستی فروشگاه</th>
                                   
                                    <th>کد صنف</th>
                                    <th>
                                        نام فروشگاه
                                    </th>
                                    <th>
                                        نام کمپانی 
                                    </th>
                                    <th>
                                        عملیات
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of customerslist">
                                    <td>
                                        {{item.person.isLegal ? item.person.comNameFa : item.person.firstNameFa + ' ' + item.person.lastNameFa }}
                                    </td>
                                    <td>
                                        {{item.person.isLegal ? "حقوقی" : "حقیقی" }}

                                    </td>
                                    <td>{{item?.shopCityPreCode}}-{{item?.telephone}}</td>
                                    <td>{{item?.webSiteAddress}}</td>
                                    <td>{{item?.shopPostalCode}}</td>
                               
                                    <td>{{item?.guildId}}</td>
                                    <td>
                                        {{item?.shopNameFa}}
                                    </td>
                                    <td>
                                        {{item?.person.comNameFa}}
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-sm" (click)="displayCustomerInfo(item)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="w-100 d-flex justify-content-center">
                        <ngb-pagination (pageChange)="clickOnPage($event)" [pageSize]="10" [boundaryLinks]="true"
                            [collectionSize]="totalRecords" [maxSize]="5" [(page)]="page">
                            <ng-template ngbPaginationPrevious>قبلی</ng-template>
                            <ng-template ngbPaginationNext>بعدی</ng-template>
                            <ng-template ngbPaginationFirst>ابتدا</ng-template>
                            <ng-template ngbPaginationLast>انتها</ng-template>
                        </ngb-pagination>
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>