<div class="row card-position">
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">لیست کاربران</div> -->
      <div class="card-body card-height cursor-pointer"  style="background:#19232d" (click)="goToCustomersList()">
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-list size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              لیست مشتریان

            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">ثبت مشتری</div> -->
      <div class="card-body card-height cursor-pointer" style="background:#22303d" (click)="goToUsersList()" >
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-user-o size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              لیست کاربران

            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div class="card-body card-height cursor-pointer"  style="background:#2b3c4e" (click)="goToContractList()">
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-book size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              لیست پروژه ها

            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div class="card-body card-height cursor-pointer" style="background:#34495e"  (click)="goToCompaniesPage()">
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-building-o size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              لیست شرکت ها

            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">لیست کاربران</div> -->
      <div class="card-body card-height cursor-pointer"  style="background:#3d566e" (click)="goToChangeIban()">
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-money size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              تغییر شبا

            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">ثبت مشتری</div> -->
      <div class="card-body card-height cursor-pointer" style="background:#46637f" (click)="goToChangeClass()" >
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-user-o size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              تغییر صنف 

            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div class="card-body card-height cursor-pointer"  style="background:#4f6f8f" (click)="goToChangePostalcode()">
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-envelope-open-o size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              تغییر کد پستی

            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div class="card-body card-height cursor-pointer" style="background:#7b99b7"  (click)="goToRequest()">
        <div class="d-flex flex-column">
          <div class="my-2 my-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-pencil size-16 text-white" aria-hidden="true" style="font-size: 32px;"></i>
          </div>
          <div>
            <h5 class="text-white">
              لیست درخواست
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
