

<h5 class="mb-4">
به پنل ادمین <strong>سامانه مدیریت درخواست های   </strong> خوش آمدید.
</h5>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item mx-2"><div> <i class="fa fa-home mx-1"></i> خانه / </div></li>
    <li class="breadcrumb-item mx-2"><a routerLink="#">داشبورد</a></li>
  </ol>
</nav>
<div class="row card-position">
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">لیست کاربران</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #ff6600"
        (click)="goToCustomersList()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-list size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">لیست مشتریان</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">ثبت مشتری</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #0000cc"
        (click)="goToUsersList()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-user-o size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">لیست کاربران</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #0099ff"
        (click)="goToContractList()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-book size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">لیست پروژه ها</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #339933"
        (click)="goToCompaniesPage()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-building-o size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">لیست شرکت ها</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">لیست کاربران</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #6600cc"
        (click)="goToChangeIban()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-money size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">تغییر شبا</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">ثبت مشتری</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #ffcc66"
        (click)="goToChangeClass()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-user-o size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">تغییر صنف</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #ff0000"
        (click)="goToChangePostalcode()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-envelope-open-o size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">تغییر کد پستی</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3">
    <div class="card">
      <!-- <div class="card-header">ثبت اطلاعات پروژه</div> -->
      <div
        class="card-body card-height cursor-pointer"
        style="background: #3366cc"
        (click)="goToRequest()"
      >
        <div class="d-flex flex-column">
          <div
            class="my-2 my-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="fa fa-pencil size-16 text-white"
              aria-hidden="true"
              style="font-size: 32px"
            ></i>
          </div>
          <div>
            <h5 class="text-white">لیست درخواست</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
