<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">لیست کاربران</div>
      <div class="card-body">
        <button (click)="goToUsersList()" class="btn btn-primary btn-sm">
          لیست کاربران
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">ثبت مشتری</div>
      <div class="card-body">
        <button (click)="goToRegisterCustomer()" class="btn btn-primary btn-sm">
          شبت مشتری
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">ثبت اطلاعات پروژه</div>
      <div class="card-body">
        <button
          (click)="goToRegisterProjectInfo()"
          class="btn btn-primary btn-sm"
        >
          ثبت اطلاعات پروژه
        </button>
      </div>
    </div>
  </div>
</div>
