



<div class="card">
    <div class="card-header ">
        درخواست تغییر کدپستی
    </div>
    <div class="card-body">
        <form [formGroup]="changeClassCodeForm" autocomplete="off" role="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-4">
                        <label for="customerNo" >شماره مشتری</label>
                        <input id="customerNo" type="text" formControlName="customerNo" class="form-control"
                            [ngClass]="{'is-invalid': isChangeClassFormSubmitted && changeClassFormSubmittedInfo.customerNo.errors}" />
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-4">
                        <label for="classCode" >کد صنف </label>
                        <input id="classCode" type="text" formControlName="classCode" class="form-control"
                            [ngClass]="{'is-invalid': isChangeClassFormSubmitted && changeClassFormSubmittedInfo.classCode.errors}" />
                    </div>
                </div>
            </div>
    
        </form>
    </div>
    <div class="card-footer float-left">
        <button class="btn btn-success mx-2" type="button" (click)="addRequest()">ارسال</button>
        <button type="button" class="btn btn-secondary">
            انصراف
        </button>
    </div>
</div>