

.main{
    width: 100%;
    height: 100%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 280px;
    background-color: #34495e;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .content{
      margin-right: 280px;
      position: relative;
      min-height: 100%;
  }

  footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}