<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 dir-ltr">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav float-left">
      <li>
        <div ngbDropdown class="d-inline-block">
          <a class="btn" id="dropdownBasic1" ngbDropdownToggle>
            <i
              style="font-size: 2rem"
              class="fa fa-user-circle"
              aria-hidden="true"
            ></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a
              class="text-right cursor-pointer"
              ngbDropdownItem
              routerLink="/my/orders"
            >
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa fa-folder-o" aria-hidden="true"></i>
                </div>
                <div>نمایه</div>
              </div>
            </a>
            <a
              class="text-right cursor-pointer px-3"
              ngbDropdownItem
              routerLink="/admin/orders"
            >
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
                <div>تنظیمات</div>
              </div>
            </a>
            <a
              class="text-right cursor-pointer"
              ngbDropdownItem
              routerLink="/admin/products"
            >
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa fa-question" aria-hidden="true"></i>
                </div>
                <div>کمک</div>
              </div>
            </a>
            <a
              class="text-right cursor-pointer"
              ngbDropdownItem
              (click)="logOut()"
            >
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                </div>
                <div>خروج</div>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="text-right">
    <div class="d-flex justify-content-center">
      <div class="mx-2">{{ currentDay }}</div>
      <div>
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</nav>
