.sidebar {
    margin: 0;
    padding: 0;
    width: 280px;
    background-color: #1b2631;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
  }
  
  .sidebar a {
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    font-size: 12px;
  }
  .active {

    background-color: #039be5	;
    border-radius: 15px;
    
  }
  .site_title i {
    border: 1px solid #eaeaea;
    padding: 5px 6px;
    border-radius: 50%;
}


.arrow-style{
  color: white;
   font-size: 38px;
}
#sidebar  ::ng-deep .card  {
  border: none;
}
#sidebar  ::ng-deep .card .card-header  {
  background-color: #1b2631;
  border: none;
  width: 100%;
}

#sidebar ::ng-deep .card .card-header> button  {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem ;
}
#sidebar  ::ng-deep .card .card-header> .btn .btn-link:active  {
  outline: 0 !important;
  outline-style: none;
}

#sidebar  ::ng-deep .card .card-body  {
  background-color: #3C4252;

}
.logo-container{
  height: 10% !important;
}

.user-info{
  height: 15% !important;
}

/* width */
#sidebar ::-webkit-scrollbar {
  width: 1px;
}
#sidebar :root{
  scrollbar-width: thin !important;
}

/* Track */
#sidebar ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#sidebar ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#sidebar ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ngb-accordion ::ng-deep .card-header button {
  width: 100%;
  text-decoration: none;
  text-align: left;

}