<div id="sidebar" class="sidebar h-100">
  <div class="
      d-flex
      flex-column
      align-items-center
      justify-content-around
      
    " style="background-color:#1b2631 ;">
    <div class="text-white mt-4">
      سامانه  درخواست ها
    </div>
    <div>
      <img src="../../../assets/image/logo.jpeg" class="rounded-circle bg-white my-4" style="width: 100px" />
    </div>
    <div>
      <h6 class="text-white">پنل ادمین</h6>
    </div>
    <div>
      <h6 class="text-white mt-2">{{userRole}}</h6>
    </div>
  </div>
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true"  (panelChange)="openPanel($event)">

      
      <ngb-panel  *ngFor="let item of listOfMenu; let i=index" id="ngb-panel-{{i}}" activeIds="ngb-panel-{{i}}">
        <ng-container>
          <ng-template  ngbPanelTitle>
            <div class="d-flex justify-content-between">
              <span class="size-16"> <i class="{{item.headerIcon}}"></i>{{item.headerName}}</span>
              <div *ngIf="openById['ngb-panel-{{i}}']">
                <div><i class="fa fa-angle-up text-white"></i></div>
              </div>
              <div *ngIf="!openById['ngb-panel-{{i}}']">
                <div><i class="fa fa-angle-down text-white"></i></div>
              </div>
          </div>
          </ng-template>
          <ng-template  ngbPanelContent >
            <span *ngFor="let link of item.children">
              <a  routerLink="{{link.routerLink}}" routerLinkActive="active">{{link.name}}</a>
            </span>
          </ng-template>
   
        </ng-container>
      </ngb-panel>
  </ngb-accordion>
</div>