<div class="card">
    <div class="card-header">
        لیست قرارداد های نماینده
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>تاریخ قرارداد</th>
                    <th>توضیحات</th>
                    <th>نوع تسهیم</th>
                    <th>مبلغ تسهیم</th>
                    <th>بیشترین مبلغ تسهیم</th>
                    <th>کمترین مبلغ تسهیم</th>
                    <th>شماره نماینده</th>
                    <th>شماره مشتری</th>
                    <th>شماره شبا</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <!-- <span class="w-100 d-flex justify-content-center"> 
                <ngb-pagination (pageChange)="clickOnPage($event)" [pageSize]="10" [boundaryLinks]="true" [collectionSize]="totalRecords" [maxSize]="5" [(page)]="page">
                    <ng-template ngbPaginationPrevious>قبلی</ng-template>
                    <ng-template ngbPaginationNext>بعدی</ng-template>
                    <ng-template ngbPaginationFirst>ابتدا</ng-template>
                    <ng-template ngbPaginationLast>انتها</ng-template>
                </ngb-pagination>
            </span> -->

    </div>
</div>