<div class="card border-dark">
    <div class="card-header bg-secondary text-white">
        لیست  کاربران
    </div>
    <div class="card-body bg-light">
        <div *ngIf="userRole === 'admin'" class="float-left" (click)="addUser()">
            <i class="fa fa-plus-square cursor-pointer" aria-hidden="true" style="font-size: 2rem;"></i>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                            <tr>
                                <th>نام کاربری</th>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>تلفن همراه</th>
                                <th>رایانامه</th>
                                <th>نقش کاربر</th>
                                <th  *ngIf="userRole === 'admin'">فعال|غیرفعال</th>
                                <th  *ngIf="userRole === 'admin'">عوض کردن کلمه عبور</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userList">
                            <td>{{item?.username}}</td>
                            <td>{{item?.firstname}}</td>
                            <td>{{item?.lastname}}</td>
                            <td>{{item?.phoneNumber}}</td>
                            <td>{{item?.email}}</td>
                            <td>{{item?.role}}</td>
                            <td  *ngIf="userRole === 'admin'">
                                <button *ngIf="!item.isActive" class="btn btn-success btn-sm" (click)="changeUserStatus(item)">فعال کردن</button>
                                <button *ngIf="item.isActive" class="btn btn-danger btn-sm mx-2" (click)="changeUserStatus(item)">غیر فعال کردن</button>
                            </td>
                            <td  *ngIf="userRole === 'admin'">
                                <button class="btn btn-warning btn-sm" (click)="changePasswordOpen(item)">بازنشانی کلمه عبور</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>